body{
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-size: 100%;
    z-index: -1;
    user-select: none;
}
.flex_alcenter_jscenter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.text_decoration_none{
    text-decoration: none;
}
*{
    /* user-select: none; */
    -webkit-user-drag: none;
}
img[src="../../Header and Footer Images/chevron.png"]{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: linear-gradient(to right,#672C90,#2C3192);
    box-shadow: 0 4px 2px #666;
    cursor: pointer;
    position: fixed;
    z-index: 3;
    right: 2%;
    bottom: 4%;
}
img[src="../../Header and Footer Images/chevron.png"]:hover{
    box-shadow: 0px 0px 7px indigo;
}
.preloader{
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
    background:  #672C90;
	z-index: 10;
	background-image: url('../../Header and Footer Images/gitlogo.png'); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25vw auto;
}
a{
    text-decoration: none;
    color: white;
}

/*
//________________________________________________________________________________________________________________
//                                                          HEADER
//________________________________________________________________________________________________________________
*/
.main_header{
    height: 9.7vw;
    background: linear-gradient(to right,#672C90,#2C3192);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.logo_container{
    width: 28%;
    height: 9.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_container > img{
    width: 75%;
    height: 6vw;
}
.heading_nav{
    width: 72%;
    height: 9.7vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heading_nav > div{
    height: 3.5vw;
    font-size: 1.5vw;
    cursor: pointer;
}
.carayutyunner{
    width: 20%;
    cursor: pointer;
}
.carayutyunner:hover{
    background: #EA405A;
    animation: background_blur_white 0.7s linear infinite;
}
.dasyntacner{
    width: 18.5%;
    justify-content: space-evenly;
    box-sizing: border-box;
    cursor: pointer;
}
.dasyntacner:hover{
    animation: background_blur_white 0.7s linear infinite;
    background: #EA405A;
}
@keyframes background_blur_white{
    50%{
        box-shadow:0 2px 4px white;
    }
    100%{
        box-shadow: none;
    }
}
/* -----------
    DROP DOWN
------------*/
.drop_down{
    background: linear-gradient(#873FAF,#4B28C4);
    position: absolute;
    top: 8vw;
    right: 30vw;
    width: 15%;
    height: 15vw !important;
    z-index: 3;
    color: whitesmoke;
    border:1px solid white;
    display: none;
}
.drop_down_items{
    width: 100%;
    height: 33%;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop_down_items:hover{
    background: linear-gradient(#4B28C4,#873FAF);
    color: white;

}

/* --------------------------
    DROP DOWN MENU
-------------------------*/
.drop_down_menu{
    background: linear-gradient(#873FAF,#4B28C4);
    color: whitesmoke;
}
.drop_down_menu_items{
    width: 100%;
    height: 8vh;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop_down_items:hover{
    background: linear-gradient(#4B28C4,#873FAF);
    color: white;
}

.border_white_hover:hover{
    animation: background_blur_white 0.7s linear infinite;
    background: #EA405A;
}
.search_icon{
    cursor: pointer;
}
#searching_input{
    width: 20%;
    height: 2.5vw;
    position: absolute;
    right: 40vw;
    top: 10vw;
    z-index: 4;
    color: #4B28C4;
    display: none;
    outline: none;
    border: 2px solid #4B28C4;
    border-radius: 1vw;
    padding-left: 2%;
    font-size: 1.3vw;
    animation: glow 1s linear infinite;
}
@keyframes glow{
    50%{
        box-shadow: 0 0 10px white;
    }
}
.language_icon{
    width: 6vw;
}
.language_drop_down{
    width: 3%;
    height: 7vw !important;
    background: #2C3192;
    position: absolute;
    right: 2.4vw;
    top: 6vw;
    z-index: 3;
    display: none;
}
.language_drop_down_items{
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.language_drop_down_items > img{
    width: 80%;
}
.mobile_menu{
    display: none;
}



/*
----------------------------------------------------------------------------------------------------------------
                                                    DROPPING MENU
----------------------------------------------------------------------------------------------------------------
*/


.dropping_menu{
    background: linear-gradient(to left,#672C90,#2C3192);
    display: none;
}
.drop_down_menu{
    display: none;
}
#moving_arrow{
    margin-left: 1%;
    width: 5%;
    transition: transform 1s;
}
.drop_down_menu_items{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vw;
    cursor: pointer;
}
.drop_down_menu_items:hover{
    color: orange;
}
.drop_down_menu_items:active{
    color: orange;
}

#moving_arrow{
    margin-left: 1%;
    width: 5%;
    transition: transform 1s;
}

#searching_input{
    width: 20%;
    height: 2.5vw;
    position: absolute;
    right: 40vw;
    top: 10vw;
    z-index: 4;
    color: #4B28C4;
    display: none;
    outline: none;
    border: 2px solid #4B28C4;
    border-radius: 1vw;
    padding-left: 2%;
    font-size: 1.3vw;
    animation: glow 1s linear infinite;
}
#logo_uploader{
    font-size: 1.3vw;
}
/*
----------------------------------------------------------------------------------------------------------------
                                               MAIN SECTION
----------------------------------------------------------------------------------------------------------------
*/
.main_section{
    height: 50vw;
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(to right bottom,#13054E,#45108A);
}
.question_answer_container{
    width: 40%;
    height: 20vw;
    color: white;
    z-index: 2;
    text-align: center;
}
.first_container{
    position: absolute;
    top: 35%;
    left: 0;
}
.others{
    position: absolute;
    top: 55%;
    left: 0%;
    display: none;
    opacity: 0;
}
.question_container{
    width: 90%;
    margin: 4% auto;
    font-size: 2.5vw;
    text-align: center;
}
.description_container{
    width: 80%;
    margin: 5% auto;
    font-size: 1.2vw;
    color: #aaa;
}
#kayqi_anvanum{
    width: 80%;
    height: 2.5vw;
    display: block;
    margin: auto;
    border-radius: 3vw;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.4vw;
    outline: none;
}
#logo_uploader{
    width: 37%;
    margin: 2% auto;
}
.type_number{
    text-align: center;
    width: 10%;
    margin: 2% 0;
    font-size: 1.3vw;

}
.kayqi_tesakner_container{
    padding-left: 20%;
    text-align: start;
    font-size: 1.3vw;

}
.hajord_naxord_container{
    display: flex;
    justify-content: center;
}

.naxord_container{
    width: 30%;
    height: 2.5vw;
    margin: 3% 2%;
    border-radius: 2vw;
    border:0.1vw solid rgb(236, 12, 180);
    background: rgb(236, 12, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5vw;
}
.answer_container{
    width: 30%;
    height: 2.5vw;
    margin: 3% 2%;
    border-radius: 2vw;
    border:0.1vw solid rgb(236, 12, 180);
    background: rgb(236, 12, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5vw;

}
.answer_container:hover{
    background: none;
}
.font-size{
    font-size: 1.3vw;
}
/* ///////////////////////////////////////////////////////
                            IMAGES
//////////////////////////////////////////////////////*/

.desktop_with_brain{
    width: 40%;
    position: absolute;
    right: 12%;
    top: 10%;
    animation: rotate 5s linear infinite;
    transform: rotateY(20deg);
}
@keyframes rotate{
    50%{
        transform: rotateY(-30deg);
    }
}

/*
----------------------------------------------------------------------------------------------------------------
                                                            FOOTER 
----------------------------------------------------------------------------------------------------------------
*/

footer{
    height: 60vw;
    background: linear-gradient(#A34CE9,#672C90);
    opacity: 0.95;
    position: relative;
}
.social_media_section{
    width: 43%;
    height: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    float: left;

}
.social_media_section > img{
    width: 50%;
    margin-left: -15%;
}
.about_article{
    width: 63%;
    height: 17vw;
    color: #BFA8D2;
    line-height: 2em;
    text-align: start;
    font-size: 1.1vw;
}
.social_media_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 10%;
    margin-left: -17%;
}
.social_link_container{
    width: 22%;
    height: 100%;
    background: #8565E2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.social_link_container:hover{
    opacity: 0.5;
}
.social_link_container  img{
    width: 1.5vw;
}
.whole_navigaion_section{
    width: 57%;
    height: 45vw;
    float: left;
    color: white;
    display: flex;
    align-items: flex-start;
}
.navigation_columns{
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.3vw;
    color: #BFA8D2;

}
.navigation_through_site_heading{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 1.8vw;
    color: white;
}
.navigation_columns a{
    text-decoration: none;
    color: #BFA8D2;
}
.navigation_columns a:hover{
    color: orange;
}
.footer{
    width: 100%;
    height: 13vw;
    background: linear-gradient(#672C90,#2C3192);
    position: absolute;
    bottom: 0;
    z-index: 1;
    opacity: 0.8;
    text-align: center;
}

.copyright{
    width: 90%;
    color: #BFA8D2;
    line-height: 2em;
    font-size: 1.3vw;
    margin: auto;
    margin-top: 2%;

}
.copyright > p{
    margin: 0;
    color: orange;
    display: inline;
}




/* ================================================================================================================
                                            MEDIA
================================================================================================================ */



@media only screen and (max-width:600px){
    .desktop_with_brain{
        display: none;
    }
    .main_section{
        justify-content: center;
        height: 60vw;
    }
    .question_answer_container{
        width: 90%;
        height: 90%;
        left: 7%;
        top: 14%;
    }
    .question_container{
        font-size: 6vw;
    }
    .description_container{
        font-size: 3vw;
    }
    .answer_container{
        width: 40%;
        height: 5vw;
        border-radius: 5vw;
        font-size: 2.5vw;
        padding: 1% 0;

    }
    .home_section{
        height: 90vw;
    }
    .main_header{
        height: 15vw;
        justify-content: center;
    }
    .hiding_nav,
    img[src="Images/shisteryonka.png"],
    .zangaharel_btn,
    img[src="Images/idea.png"],
    img[src="Images/red_circle.png"],
    img[src="Images/play_button.png"],
    .question_mark
    {
        display: none;
    }
    .search_icon{
        width: 20%;
    }
    .logo_container{
        height: 100%;
        width: 40%;
    }
    .heading_nav{
        width: 30%;
    }
    .logo_container > img{
        width: 100%;
        height: auto;
    }
    .mobile_menu{
        display: block;
        width: 8%;
    }
    #searching_input{
        position: static;
        width: 100%;
        height: 10vw;
        color: #4B28C4;
        outline: none;
        border: 2px solid #4B28C4;
        padding-left: 3%;
        font-size: 3vw;
        animation: glow 1s linear infinite;
        display: block;
        border-radius: 0;
        box-sizing: border-box;
    }
    .montage_area_img{
        display: none;
    }
    .krtutyun_praktika_ashxatanq_container{
        width: 60%;
        height: 65vw;
        font-size: 9vw;
    }
    .stanal_krtutyun{
        font-size: 3vw;
    }
    .education_types{
        height: 8vw;
        font-size: 3.5vw;
    }
    .naxord_container{
        width: 40%;
        height: 5vw;
        border-radius: 5vw;
        font-size: 2.5vw;
        padding: 1% 0;
    }
    .question_container{
        width: 100%;
        font-size: 5vw !important;
    }
    #kayqi_anvanum{
        height: 5vw;
    }
    .font-size{
        font-size: 3vw;
    }
    .kayqi_tesakner_container{
        font-size: 2.5vw;
        padding-left: 30%;
    }
    #logo_uploader{
        font-size: 2vw;
    }










    /*=================================
                    FOOTER
    ==================================*/
    footer{
        height: 380vw;
    }
    .social_media_section{
        float: none;
        width: 90%;
        margin: auto;
        height: 80vw;
    }
    .social_media_section > img{
        margin-left: -10%;
        width: 60%;
    }
    .about_article{
        font-size: 2.5vw;
        text-align: center;
        height: 45vw;
    }
    .footer{
        height: 20vw;
    }
    .copyright{
        font-size: 1.7vw;
    }
    .social_media_container{
        margin: 0;
        width: 60%;
        height: 10vw;
    }
    .social_link_container{
        height: 100%;

    }
    .social_link_container > a{
        text-align: center;
    }
    .social_link_container img{
        width: 80%;
    }
    .whole_navigaion_section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 5% 0;
    }      
    .navigation_through_site_heading{
        font-size: 7vw;
        justify-content: center;
    }
    .navigation_columns{
        width: 100% !important;
        height: 120vw !important;
        text-align: center;
        font-size: 4.5vw;
        line-height: 2em;
    }
    .scroll_to_top{
        width: 12vw !important;
        height: 12vw !important;
    }

}
